/* -------------------------------- 
---- LAST BOX WIDTH ADAPT ---------
----------------------------------- */

/* Adapts the last grid-item in -----------------
the layout to adapt to fill up the space -------- */

.endfull, .grid-item:last-child {
  right: 0 !important;
  width: initial;
}
.grid-item:last-child {
  right: 0;
}

@media (min-width: 960px) {

	.item-third.endfull {

		.article-bottom {
		    width: em(450px);
		    margin: 0 auto;
		}
	}

	.item-half.endfull,
	.item-twothird.endfull {

		.article-top {
			.article-img-side {
				display: initial;
				position: absolute;
				right: em(300px);
				bottom: 0;
				div {
					overflow: initial;
				}
			}
		}
	}
	span.article-url.endfull {
		position: relative;
		display: block;
		margin: 0 auto;
		width: 28.125em;
		padding-left: em(33px);
		margin-top: em(10px);
	}
}

@media (min-width: 961px) and (max-width: 1250px) {

	.item-half.endfull {
		.article-top {
			.article-img-side {
				display: none;
			}
		}
	}
}