/* -------------------------------- 
-------------- CONTAINERS ---------
----------------------------------- */

// Main Content Container
.primary-content {
	position: relative;
	// Holds all Articles
	.box-container {
		display: block;
	}
}

// Individual Article Box
.grid-item {
	height: em(710px);
	padding: em(50px) em(50px);
	color: #fff;
	position: relative;
	overflow: hidden;
}


/* -------------------------------
----  MEDIA QUERIES
---------------------------------- */

@media (min-width: 600px) {
	// Individual Article Box > 600px
	.grid-item {
		height: em(650px);
		padding: em(50px) em(100px);
	}
}
@media (min-width: 960px) {
	// Individual Article Box > 960px
	.grid-item {
		height: em(600px);	
		padding: em(50px) em(50px);
	}
}
