/* -------------------------------- 
-------------- CONTAINERS ---------
----------------------------------- */

// Main Content Container
.primary-content {
	position: relative;
	// Holds all Articles
	.box-container {
		display: block;
	}
}

// Individual Article Box
.grid-item {
	height: 710px;
	padding: 50px 50px;
	color: #fff;
	position: relative;
	overflow: hidden;
}


/* -------------------------------
----  MEDIA QUERIES
---------------------------------- */

@media (min-width: 600px) {
	// Individual Article Box > 600px
	.grid-item {
		height: 650px;
		padding: 50px 100px;
	}
}
@media (min-width: 960px) {
	// Individual Article Box > 960px
	.grid-item {
		height: 600px;	
		padding: 50px 50px;
	}
}
