/* -------------------------------- 
----------- ARTICLE STYLES --------
----------------------------------- */

.item-third,
.item-twothird,
.item-half {
	.article-top {
		display: table;
		height: 20%;
		width: 100%;
		overflow: hidden;
		.article-img,
		.article-img-full,
		.article-img-side {
			display: table-cell;
			vertical-align: middle;
			div {
				width: 80%;
				margin: 0 auto;
			    max-height: em(120px);
				img {
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
	.article-bottom {
		display: table;
		height: 70%;
		.article-content {
			display: table-cell;
			vertical-align: top;
			padding-top: em(20px);
			padding-bottom: em(50px);
		}
	}
}

// HALF COLUMN: DO NOT DISPLAY IMAGES IN MOBILE
.item-half {
	.article-top {
		.article-img-side {
		    display: none;
		}
	}
}



// CONTACT BOX
.item-third {
	.contact-container {
		height: 100%;
		display: table;
		.article-contact {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

@media (min-width: 480px) {

	.item-third,
	.item-twothird,
	.item-half {
		.article-top {
			display: table;
			height: 40%;
			width: 100%;
			overflow: hidden;
			.article-img,
			.article-img-full,
			.article-img-side {
				display: table-cell;
				vertical-align: middle;
				div {
					width: 70%;
					margin: 0 auto;
				    max-height: 170px;
					img {
						display: block;
						margin: 0 auto;
					}
				}
			}
		}
		.article-bottom {
			display: table;
			height: 70%;
		}
	}

	.item-half {
		.article-top {
			.article-img-side {
			    display: none;
			}
		}
	}
}
	

@media (min-width: 600px) {

	.item-third,
	.item-half,
	.item-twothird {
		.article-top {
			.article-img-full,
			.article-img,
			.article-img-side {
				div {
					width: 70%;
					margin: 0 auto;
				    overflow: hidden;
				    max-height: em(500px);
					img {
						max-height: em(250px);
						text-align: center;
						display: block;
						margin: 0 auto;
					}
				}
			}
		}
	}
	.item-half {
		.article-top {
			height: 15%;
			.article-img-side {
			    // display: initial;
			}
		}
		.article-bottom {
			height: 85%;
		}
	}
}


@media (min-width: 960px) {

	.box-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.item {
			flex-grow: 1;
		}
	}

	.grid-item,{
		position: relative;
		overflow: hidden;
	}

	// Third Top & Bottom
	.item-third {
		.article-top {
			height: 35%;
		}
		.article-bottom {
			height: 65%;
			.article-content {
				padding-top: 0;
				vertical-align: bottom;
				padding-bottom: em(50px);
			}
		}
	}

	// TwoThirds Top & Bottom
	.item-twothird,
	.item-half {
		.article-top {
			height: 20%;
		}
		.article-bottom {
			height: 80%;
			.article-content {
				vertical-align: bottom;
				padding-bottom: em(50px);
			}
		}
	}

	// Half Column Top & Bottom
	.item-half {
		.article-top {
			height: 15%;
		}
		.article-bottom {
			height: 85%;
		}
	}

	// Half Column - Paragraph Text Width
	// TwoThird Column - Paragraph Text Width
	.item-half,
	.item-twothird {
		.article-bottom {
			width: em(380px);
		}
	}

	// TwoThird column with Image that shows its full width
	.item-twothird {
		.article-top {
			.article-img-side {
				position: absolute;
				max-width: em(700px);
				right: em(-20px);
				top:15%;
			}
		}
	}

	// Third --Article Image--
	.item-third {
		.article-top {
			.article-img {
			    div {
			    	width: 100%;
			    	img {
			    		max-height: em(130px);
			    	}
			    }
			}
			.article-img-full {
				position: absolute;
				top: 0;
				left: 0;
				height: 35%;
				overflow: hidden;
				width: 100%;
				display: inline-block;
				div {
					img {
						max-height: 100%;
						width: 100%;
					}
				}
			}

		}
	}

	// Half Column --Article Image--
	.item-half {
		.article-top {
			overflow: initial;
			.article-img-side {
			    display: none;
    			div {
				    max-height: 100%;
				    img {
				    	max-height: em(800px);
				    	max-width: em(400px);
				    }
				}			
			}
		}
	}

	// TwoThird --Article Image--
	.item-twothird {
		.article-top {
			overflow: initial;
			.article-img-side {
				display: none;
    			div {
				    max-height: 100%;
				    img {
				    	max-height: em(800px);
				    	max-width: em(1000px);
				    }
				}			
			}
		}
	}
}


@media (min-width: 1300px) {

		// Half Column --Article Image--
	.item-half {
		.article-top {
			overflow: initial;
			.article-img {
				position: absolute;
				max-width: em(200px);
				top: em(100px);
				right: em(50px);
				div {
					width: 100%;
				}
			}
			.article-img-side {
			    position: absolute;
			    display: initial;
			    top: em(150px);
			    right: em(-20px);
			    max-width: em(350px);
			    div	{
			    	overflow: initial;
			    }
			    // max-width: 100px;
			}
		}
	}

	// TwoThird --Article Image--
	.item-twothird {
		.article-top {
			overflow: initial;
			.article-img {
				position: absolute;
				right: em(150px);
				top: em(100px);
				max-width: em(400px);
				div {
					width: 100%;
				}
			}
			.article-img-side {
				display: initial;
			    position: absolute;
			    top: em(110px);
			    right: em(-290px);
			    max-width: em(1000px);
			    float: none;
    			div {
				    max-height: 100%;
				    overflow: initial;
				    img {
				    	max-height: em(800px);
				    	max-width: em(1000px);
				    }
				}			
			}
		}
	}
	// One Third Column - Paragraph Text Width
	.item-third {
		.article-bottom {
			max-width: em(381px);
		}
	}

	// Half Column - Paragraph Text Width
	.item-half {
		.article-bottom {
			width: 60%;
			width: em(381px);
		}
	}
	// TwoThird Column - Paragraph Text Width
	.item-twothird {
		.article-bottom {
			width: 50%;
			width: em(381px);
		}
	}

}

@media (min-width: 1500px) {
		// Half Column --Article Image--
	.item-half {
		.article-top {
			.article-img-side {
			    top: em(50px);
			    right: em(100px);
			}
		}
	}
	.item-twothird {
		.article-top {
			.article-img {
				right: em(250px);
			}
		}
	}


}
@media (min-width: 961px) and (max-width: 1299px) {
	.item-twothird {
		.article-top {
			.article-img {
				top: em(150px);
				position: absolute;
			}
		}
	}
}

@media (min-width: 961px) and (max-width: 1500px) {
	.grid-item {
		height: em(700px);
	}
}