/* -------------------------------- 
----------- ARTICLE STYLES --------
----------------------------------- */
.item-third,
.item-twothird,
.item-half {
	// height: 900px;
	.article-top {
		display: table;
		height: 30%;
		width: 100%;
		overflow: hidden;
		// padding-top: 20px;
		// padding-bottom: 20px;
		.article-img,
		.article-img-full {
			display: table-cell;
			vertical-align: middle;
			div {
				width: 70%;
				margin: 0 auto;
			    // overflow: hidden;
			    max-height: 120px;
				img {
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
	.article-bottom {
		display: table;
		height: 70%;
		.article-content {
			display: table-cell;
			vertical-align: top;
			padding-top: 20px;
		}
	}
}

// Article Links
.article-url {
	position: absolute;
	bottom: 50px;
	a {
		font-family: $stack-fjord;
	}
}


// 1. ARTICLES -- ONE THIRD




// 2. ARTICLES -- TWO THIRDS
.item-twothird {
	.article-content {
		// margin-bottom: 50px;
	}
}
// 3. ARTICLES -- HALF
.item-half {
	.article-content {
		// margin-bottom: 50px;
	}
}




@media (min-width: 480px) {
	.item-third,
	.item-twothird,
	.item-half {
		// height: 900px;
		.article-top {
			display: table;
			height: 40%;
			width: 100%;
			overflow: hidden;
			.article-img,
			.article-img-full {
				display: table-cell;
				vertical-align: middle;
				div {
					width: 70%;
					margin: 0 auto;
				    // overflow: hidden;
				    max-height: 170px;
					img {
						display: block;
						margin: 0 auto;
					}
				}
			}
		}
		.article-bottom {
			display: table;
			height: 70%;
		}
	}
	.item-third {
		.article-content {
			// position: absolute;
			// // padding-right: 150px;
			// bottom: 0;
			// margin-bottom: 50px;
		}
	}

	.item-twothird {
		.article-content {
			// position: absolute;
			// padding-right: 150px;
			bottom: 0;
			margin-bottom: 50px;
		}
	}
}
@media (min-width: 600px) {
	.item-third,
	.item-half,
	.item-twothird {
		.article-top {
			.article-img-full,
			.article-img {
				div {
					width: 100%;
					margin: 0 auto;
				    overflow: hidden;
				    max-height: 500px;
					img {
						max-height: 250px;
						text-align: center;
						display: block;
						margin: 0 auto;
					}
				}
				// margin-bottom: 30px;
			}
		}
		.article-bottom {
			.article-content {
				vertical-align: top;
			}
		}
	}
}
@media (min-width: 960px) {
	.box-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.item {
			flex-grow: 1;
		}
	}
	.grid-item,{
		position: relative;
		overflow: hidden;
	}
	.item-third,
	.item-half,
	.item-twothird {
		.article-bottom {
			.article-content {
				padding-top: 20px;
				vertical-align: top;
			}
		}
	}

	// Image inside Article - Third
	.item-third {
		.article-top {
			height: 35%;
			.article-img {
			    div {
			    	img {
			    		max-height: 100px;
			    	}
			    }
			}
			.article-img-full {
				position: absolute;
				top: 0;
				left: 0;
				height: 35%;
				overflow: hidden;
				width: 100%;
				display: inline-block;
				div {
					// display: inline;
					img {
						max-height: 100%;
						width: 100%;
					}
				}
			}

		}
	}
	.item-twothird, {
		.article-img {
			float: right;
			width: 70%;
			margin-right: -20%;
		}
		.article-content {
			// position: absolute;
			// bottom: 0;
			// width: 50%;
		}
	}
	.item-half,
	.item-twothird {
		.article-top {
			display: inline-block;
			overflow: initial;
			height: 35%;
			.article-img {
			    float: right;
			    width: 100%;
			    margin-right: -40%;
    			div {
				    max-height: 100%;
				    img {
				    	max-height: 800px;
				    	max-width: 500px;
				    }
				}			
			}
		}
	}
	.item-half {
		.article-bottom {
			width: 60%;
		}
	}
	.item-twothird {
		.article-top {
			height: 30%;
			.article-img {
			    position: absolute;
			    top: 50px;
			    right: -10px;
			    max-width: 1000px;
			    float: none;
    			div {
				    max-height: 100%;
				    img {
				    	max-height: 800px;
				    	max-width: 1000px;
				    }
				}			
			}
		}
		.article-bottom {
			width: 45%;
		}
	}

	.article-url {
		padding-top: 20px;
		display: block;
	}
}