/* -------------------------------- 
-------------- FOOTER ---------
----------------------------------- */
.main-footer {
  text-align: center;
  padding-top: em(10px);
  padding-bottom: em(10px);
  padding-left: em(0px);
  font-family: $font-family--primary;
  background: $off-white;
  color: #bbb9b9;
  font-size: 0.8em;
      a {
        text-decoration: none;
        color: #484747;
        font-weight: 700;
    }
}

// STICKY FOOTER
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  flex: 1;
}

@media (min-width: 480px) {
  .main-footer {
    text-align: left;
    padding-top: em(30px);
    padding-left: em(50px);
    padding-bottom: em(30px);    
    letter-spacing: em(0.5px);
  }
}