/* -------------------------------- 
--- ARTICLE COLORS & BACKGROUNDS --
----------------------------------- */
.header-container {
	position: fixed;
	z-index: 9999;
	width: 100%;
}
.primary-content {
	margin-top: 60px;
}
// Header Flexbox
.main-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

// Header Styles
.main-header {
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	background: $off-white;
	box-shadow: 0 0 1px 0 $color-shadow;
}

// Logo
.site-logo {
	margin-right: auto;
	width: em(30px);
}

@media (min-width: 880px) {
	.primary-content {
		margin-top: 120px;
	}
	// Header Flexbox > 769
	.main-header {
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;
	}

	// Header Styles > 769
	.main-header {
		padding-top: 1em;
		padding-bottom: 1em;
		height: em(120px);
	}

	// Logo > 769
	.site-logo {
		width: em(40px);
		margin-right: 0;
		align-self: center;
	}
}

@media (min-width: 1025px) {
	.primary-content {
		margin-top: 80px;
	}
	// Header Flexbox > 1025
	.main-header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	// Header Styles > 1025
	.main-header {
		padding-top: 0;
		padding-bottom: 0;
		height: em(80px);
		padding-top: 0;
	}

	// Logo > 1025
	.site-logo {
		margin-right: auto;
		width: em(30px);
	}

}