/* -------------------------------- 
--- IE SUPPORT  --
----------------------------------- */

// NAVIGATION:::
.no-flexbox .menu-container {
	display: none;
}
.no-flexbox .primary-content {
	margin-top: 0;
}
.no-flexbox .main-header {
	height: 50px;
	padding-top:0;
	margin: 0;
	text-align: left;
}
.no-flexbox .site-logo {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 20px;
	float: left;
	align-self: none;
}
.no-flexbox .site-logo img {
	width: 30px;
	float: left;
	display: inline-block;
	margin: 0;
}
.no-flexbox .article-top .article-img div img,
.no-flexbox .item-twothird .article-top .article-img,
.no-flexbox .item-third .article-top .article-img div img  {
	display: none;
}
.no-flexbox .item-third,
.no-flexbox .item-twothird {
	margin: 0;
}
.no-flexbox span.article-url {
	padding-left: 0;
	position: absolute;
}
.no-flexbox .grid-item {
	float: left;
	margin: 0;
	display: inline;
	overflow: hidden;
}

/* -------------------------------
----  MEDIA QUERIES
---------------------------------- */

@media (min-width: 769px) {

	// .no-flexbox .site-logo {
	// 	display: inline-block;
	// 	width: 30px;
	// 	margin-left: 20px;
	// 	height: 50px;
	// 	float: left;
	// 	img {
	// 		margin-top: 0;
	// 	}
	// }
	.no-flexbox .primary-content {
		margin-top: 0;
	}
	.no-flexbox .nav {
		display: none;
		// &__item {
		// 	display: inline-block;
		// }
	}

}

@media (min-width: 1025px) {

	.no-flexbox .site-logo {
		margin-top: 0;
	}
	
}