
// NAVIGATION


// Hide Navigation
.nav {
	display: none;
}

// Show Navigation
.nav {
	margin-top: 1.5em;
	margin-bottom: 0;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	padding-top: 0;
	padding: 0;
	align-self: center;
	background-color: $off-white;
	width: 100vw;
	li {
		display: block;
		font-size: 0.8em;
		font-weight: 300;
		text-align: center;
		padding: .6em;			
		button {
			border-bottom: 1px solid $off-white;
			letter-spacing: em(0.5px);
			&:hover {
				color: #0b0b0b;
				border-bottom: #52bab3;
				border-bottom: em(1px) solid #52bab3;
			}
		}	
	}

}

/* -------------------------------
----  MEDIA QUERIES
---------------------------------- */

@media (min-width: 769px) {

	// Display Logo in middle & the navigation underneath
	.nav {
		display: flex;
		// flex-direction: row;
		justify-content: space-around;
	}
	

	// Hide Humburger Menu on larger Screens
	#pull {
		display: none;
	}


	.nav {
		li {
			border-bottom-color:transparent;
			font-size: 0.9em;
		    padding-bottom: 0;
		}
	}

}



@media (min-width: 1025px) {

	.nav {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
		li {
			margin-left: 0.85em;
			margin-right: 0.85em;
		}
	}
	
}

