
// NAVIGATION
.nav {
	display: flex;
	flex-direction: column;
}

nav {
	a#pull {
		color: $io-black;
	}
	a#pull:link {
		color: $io-black !important;
	}
	a#pull:after {
        content:"";
        background: url('../img/nav-icon.png') no-repeat;
        width: em(30px);
        height: em(30px);
        display: inline-block;
        position: absolute;
        right: em(15px);
        top: em(22px);
	}
}

// Hide Navigation
.nav {
	display: none;
}

// Show Navigation
.nav {
	margin-top: 1.5em;
	margin-bottom: 0;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	padding-top: 0;
	padding: 0;
	align-self: center;
	background-color: $off-white;
	li {
		display: block;
		font-size: 0.8em;
		font-weight: 300;
		text-align: center;
		padding: .6em;			
		button {
			border-bottom: 1px solid $off-white;
			letter-spacing: em(0.5px);
			&:hover {
				color: #0b0b0b;
				border-bottom: #52bab3;
				border-bottom: em(1px) solid #52bab3;
			}
		}	
	}

}

/* -------------------------------
----  MEDIA QUERIES
---------------------------------- */

@media (min-width: 769px) {
	nav {
		// display: flex;
		// align-self: center;
		.nav {
			display: flex;
			align-self: center;
		}
	}

	// Hide Humburger Menu on larger Screens
	nav {
		#pull {
			display: none;
		}
	}

	.nav {
		flex-direction: row;
		justify-content: space-between;
		li {
			border-bottom-color:transparent;
			font-size: 0.9em;
		    padding-bottom: 0;
		}
	}


}



@media (min-width: 1025px) {

	.nav {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
		align-self: center;
		li {
			margin-left: 0.85em;
			margin-right: 0.85em;
		}
	}
	
}

