/* -------------------------------- 
--- ARTICLE COLORS & BACKGROUNDS --
----------------------------------- */


// Article Background Colors
.light-yellow {
	background: $cape-honey;
}
.baby-blue {
	background: $blizzard-blue;
}
.lime-green {
	background: $emerald;
}
.dark-brown {
	background: $cioccolato;
}
.blue {
	background: $havelock-blue;
}
.light-pink {
	background: $your-pink;
}
.io-black {
	background: $io-black;
}
.light-grey {
	background: $iron-grey;
}
.light-grey-pm {
	background-color: $iron-grey;
	background-image: url(../img/passmarked-bg.png);
	background-size: 90%;
}
.mustard {
	background: $yellow-orange;
}
.mustard-rover {
	background-color: $yellow-orange;
	background-image: url(../img/rover-bg.png);
	background-size: 90%;
}
.purple {
	background: $mulled-wine;
}
.beige {
	background: $beige;
}
.dark-green {
	background: $dark-green; 
}

// Articles with DARK Text
.light-yellow,
.baby-blue,
.lime-green,
.light-pink,
.light-grey,
.light-grey-pm,
.mustard,
.mustard-rover,
.beige  {
	h2,
	p,
	span {
		color: $io-black;
	}
	a {
	  transition: 0.5s;
		&:link {
		color: $io-black;
		cursor: pointer;
		}
		&:visited {
		color: $io-black;
		}
	}
}