/* -------------------------------- 
---------- ARTICLE COLORS ---------
----------------------------------- */


// Article Background Colors
.light-yellow {
	background: $light-yellow;
}
.baby-blue {
	background: $baby-blue;
}
.lime-green {
	background: $lime-green;
}
.dark-brown {
	background: $dark-brown;
}
.blue {
	background: $blue;
}
.light-pink {
	background: $light-pink;
}
.io-black {
	background: $io-black;
}
.light-grey {
	background: $light-grey;
}
.light-grey-pm {
	background-color: $light-grey;
	background-image: url(../img/passmarked-bg.png);
	background-size: 90%;
}
.mustard {
	background: $mustard;
}
.mustard-rover {
	background-color: $mustard;
	background-image: url(../img/rover-bg.png);
	background-size: 90%;
}
.purple {
	background: $purple;
}
.beige {
	background: $beige;
}
.dark-green {
	background: $dark-green; 
}

// Articles with DARK Text
.light-yellow,
.baby-blue,
.lime-green,
.light-pink,
.light-grey,
.light-grey-pm,
.mustard,
.mustard-rover,
.beige  {
	h2,
	p,
	span {
		color: $io-black;
	}
	a {
	  transition: 0.5s;
		&:link {
		color: $io-black;
		cursor: pointer;
		}
		&:visited {
		color: $io-black;
		}
	}
}