/* -------------------------------- 
--- BUTTONS --
----------------------------------- */
// The width of the button area
$button-width: 50px;
// The height of the button area           			
$button-height: 62px;
// The thickness of the button bars         			
$bar-thickness: 2px;
// The left/right padding between button area and bars.    			 
$button-pad: 10px;
// The spacing between button bars		   			
$button-bar-space: 8px;
// The transition duration
$button-transistion-duration: 0.3s;
// The Button Background Color
$button-background: $color-primary;


.menu-container {
	position: absolute;
	right: 0;
	// margin-top: -48px; 
	top: 0px;
}

// Animating Menu Button
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transform: translateZ(0);
  transition: background $button-transistion-duration;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 30px;
  left: $button-pad;
  right: $button-pad;
  height: $bar-thickness;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: $button-bar-space;
}

.c-hamburger span::after {
  bottom: $button-bar-space;
}

.c-hamburger--htx {
    background-color: $button-background;
}

.c-hamburger--htx span {
    -webkit-transition: background 0s .3s;
    transition: background 0s .3s;
    transform: translateZ(0);
}

.c-hamburger--htx span::after,
.c-hamburger--htx span::before {
    -webkit-transition-duration: .3s, .3s;
    transition-duration: .3s, .3s;
    -webkit-transition-delay: .3s, 0s;
    transition-delay: .3s, 0s;
    transform: translateZ(0);
}

.c-hamburger--htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
    transform: translateZ(0);
}

.c-hamburger--htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
    transform: translateZ(0);
}

.c-hamburger--htx.is-active {
    background-color: #cb0032;
}

.c-hamburger--htx.is-active span {
    background: 0 0;
}

.c-hamburger--htx.is-active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: translateZ(0);
}

.c-hamburger--htx.is-active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transform: translateZ(0);
}

.c-hamburger--htx.is-active span::after,
.c-hamburger--htx.is-active span::before {
    -webkit-transition-delay: 0s, .3s;
    transition-delay: 0s, .3s;
    // transform: translateZ(0);
}