/* -------------------------------- 
--- STICKY HEADER --
----------------------------------- */
.sticky-wrapper {
	position: relative;
	z-index: 1000;
	top: em(0px);
}

// .is-sticky .main-header {
// 	transition: 0.4s;
    
// }
