/* -------------------------------- 
--- TYPOGRAPHY --
----------------------------------- */

// CATEGORY/FILTER TITLE
.box-container {
	.cat-title {
		text-transform: uppercase;
		font-size: 0.7em;
		display: block;
		margin-bottom: 0.3em;
		letter-spacing: em(2px);
		padding-left: em(2px);
	}
}
