/* -------------------------------- 
-------------- BASE ---------
----------------------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--secondary;
  background: $off-grey;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  font-family: $font-family--primary;
}


span {
  font-family: $font-family--primary;
}

img {
  max-width: 100%;
}

ul,
ol {
  margin: em(30px) 0;
}

li {
  margin-bottom: em(10px);
}

button {
  background: none;
  cursor: pointer;
  border: none;
  font-family: $font-family--primary;
  transition: 0.5s;
  &:focus {
    outline: 0;
  }
}

/* Pseudo-classes ------------------ */

a {
  transition: 0.5s;
  &:link {
    color: $white;
    cursor: pointer;
  }
  &:visited {
    color: $off-white;
  }
  &:hover {
    opacity: 0.5;
  }
}