/* -------------------------------- 
-------------- VARIABLES ---------
----------------------------------- */

// Descriptive color variables

$white          : #fff;
$off-white		: #f6f6f6;
$black          : #263135;
$grey           : #878787;
$off-grey		: #354044;

// Color Spectrum
$cape-honey		: #ffe7ab; 	//light-yellow
$blizzard-blue	: #aee9ef; 	//baby-blue
$emerald		: #63c987;	//lime-green
$cioccolato		: #512f08;	//dark-brown
$havelock-blue	: #479dd6;	//blue
$your-pink		: #ffcccb; 	//light-pink
$io-black		: $black;
$iron-grey		: #d1d9db; 	//light-grey
$yellow-orange	: #ffc046;	//mustard
$mulled-wine	: #4d3d57;	//purple
$beige			: #e6e8da;
$dark-green		: #1d9b5b;

// Color Usage
$color-primary	: $havelock-blue;
$color-shadow	: rgba(90,90,90,.3);

// Border radius

$br: em(5px);

// Asset paths

$path-img  : '../img';
$path-font : '../fonts';

// Media query breakpoints

$brk-narrow : '(max-width: 768px)';
$brk-wide   : '(max-width: 1024px)';