// Descriptive color variables

$white          : #fff;
$off-white		: #f6f6f6;
$black          : #000;
$grey           : #878787;

// Article Colors
$color1			: #ffe7ab;
$color2			: #aee9ef;
$color3			: #63c987;
$color4			: #4b382a;
$color5			: #479dd6;
$color6			: #ffcccb;


// Functional color variables

// $color-prim         : $yellow-orange;
// $color-sec          : $river-bed;

// Font stacks

$stack-sans-serif : Helvetica, Arial, sans-serif;


// Border radius

$br: 5px;

// Asset paths

$path-img  : '../img';
$path-font : '../fonts';

// Media query breakpoints

$brk-narrow : '(max-width: 768px)';
$brk-wide   : '(max-width: 1024px)';