// Descriptive color variables

$white          : #fff;
$off-white		: #f6f6f6;
$black          : #263135;
$grey           : #878787;
$off-grey		: #354044;

// Article Colors
$light-yellow	: #ffe7ab;
$baby-blue		: #aee9ef;
$lime-green		: #63c987;
$dark-brown		: #512f08;
$blue			: #479dd6;
$light-pink		: #ffcccb;
$io-black		: $black;
$light-grey		: #d1d9db;
$mustard		: #ffc046;
$purple			: #4d3d57;
$beige			: #e6e8da;
$dark-green		: #1d9b5b;


// Functional color variables

// $color-prim         : $yellow-orange;
// $color-sec          : $river-bed;

// Font stacks

$stack-sans-serif : Helvetica, Arial, sans-serif;
$stack-fjord : 'Fjord One', serif;


// Border radius

$br: 5px;

// Asset paths

$path-img  : '../img';
$path-font : '../fonts';

// Media query breakpoints

$brk-narrow : '(max-width: 768px)';
$brk-wide   : '(max-width: 1024px)';